.assessment {
    &-table {
        max-height: 500px;
        overflow: auto;

        &__filters__export-btn {
            margin-left: auto;

            @media screen and (max-width: 1023px) {
                margin-left: 0; 
            }
        }
        &__filters,
        &__filters .switches {
            flex-wrap: wrap;
        }

        &__filters {
            .switches {
                padding-left: $spacer;
                padding-right: $spacer;
                display: flex;
            }

            @media screen and (max-width: 990px) { 
                justify-content: center;

                .switches {
                    margin-top: 20px;
                    padding-left: 0;
                }
            }

            .form-control {
                min-width: 100px;
            }

            select.form-control {
                max-width: 150px;
            }
        }
    }

    &-modal__tabs {

        position: relative;

        i.dropdown-toggle:after {
            content: none;
        }

        .nav-link.active {
            color: map-get($custom-colors, 'san-juan') !important; 
            font-weight: 500;
            border-bottom-color: map-get($custom-colors, 'blue');
        }

        &.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link:hover, .assessment-modal__tabs.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link.active, 
        &.nav-tabs.nav-tabs-line a.nav-link:hover,
        &.nav-tabs.nav-tabs-line a.nav-link.active {
            border-bottom-color: map-get($custom-colors, 'blue');
            color: map-get($custom-colors, 'ash');
        }

        &.tab-content > div {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: relative;

            &:after {
                content: '';
                width: calc(100% + #{$spacer*2.5});
                height: calc(100% + #{$spacer});
                position: absolute;
                left: -15px;
                background: #f4f4f4;
                top: 0;
                z-index: 0;
            }

            & > div {
                position: relative;
                z-index: 2;
            }
        }
    }

    &-wizard {
        list-style: none;
        margin: $spacer 0 $spacer*2;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        li {
            text-align: center;
            position: relative;
            width: 25%;

            &:after {
                content: '';
                position: absolute;
                top: 20px;
                right: calc(-50% - -30px);
                width: 60%;
                height: 2px;
                background: #e8e8e8;
                display: block;
                z-index: 1;
                border-radius: 5px;
            }

            &:last-child:after {
                content: none;
            }

            p {
                font-weight: 500;
                margin-bottom: 0;
                color: #d6d6d6;
                margin-top: 10px;
            }

            span {
                margin: 0 auto;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                background: #e8e8e8;
                color: #b7b7b7;
                border-radius: 100px;
                position: relative;
                z-index: 2;

                &:after,
                &:before {
                    content: '';
                    height: 100%;
                    width: 10px;
                    display: block;
                    position: absolute;
                    background: #FFF;
                }

                &:before {
                    left: -10px;
                }

                &:after {
                    right: -10px;
                }
            }

            &.active:after {
                background: map-get($custom-colors, 'blue');
            }

            &.active p {
                color: map-get($custom-colors, 'blue');
            }

            &.active span {
                background: map-get($custom-colors, 'blue');
                color: #FFF;
            }
        }
    }

    &-code {
        & > div {
            min-height: 400px;
        }

        select {
            font-family: 'Courier New', sans-serif;
            font-size: 1.25rem;
        }

        .grad_bt {
            font-size: 10px;
        }
    }

    &-regulation__hazard {
        position: relative;
        margin-bottom: $spacer;

        & > .kt-portlet {
            display: flex;
            flex-direction: column;

            &__head {
                min-height: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: 500;
                color: map-get($custom-colors, 'gray');
            }
        }

        input[type="radio"] {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;

            &:checked + .kt-portlet .btn {
                background: $primary;
                color: #FFF;
            }
        }

        .kt-portlet .btn {
            color: $primary;
            font-weight: 500;
        }
    }

    &-regulation {
        &__title-img {
            img {
                max-height: 30px;
                width: auto;
            }
        }

        &__hazard {
            .btn {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border: none;
            }

            .kt-portlet__foot {
                font-weight: 500;
                text-align: center;
            }
        }
    }

    &-tabs {
        &__actions {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;

            @media screen and (max-width: 470px) { 
                flex-direction: column;

                .btn {
                    width: 100%;
                    margin-left: auto !important;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 650px;
    }
}

[data-step] {
    display: none;
}

[data-step].active {
    display: block;
}