.maintenance {

    text-align: center;

    &__emoji {
        font-size: $font-size-base*5;
        color: map-get($custom-colors, 'green');
        text-shadow: 1px 2px 0px #77a06e;
    }

    &__caption {
        margin-top: $spacer*2;
        font-weight: normal
    }
}