$video-max-width: 600px;
$video-desc-logo-max-width: 180px;

.about__video {
    background: #08273D;
    padding: $spacer*2;

    .video-js {
        margin: 0 auto;

        .vjs-big-play-button .vjs-icon-placeholder:before {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $font-size-base*4;
        }

        .vjs-control-bar {
            background: #0D5786 !important;
        }

        .vjs-progress-holder {
            height: 10px;
            border-radius: 30px;
        }

        .vjs-play-progress:before {
            font-size: $font-size-base;
            top: -4px;
        }

        .vjs-big-play-button {

            $size: 130px;

            width: $size;
            height: $size;
            border: none;
            border-radius: 100px;
            background: $primary;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &-handler {
        max-width: $video-max-width;
        margin: 0 auto;
    }

    &-logo {
        max-width: $video-desc-logo-max-width;
    }
}

.vjs-play-progress.vjs-slider-bar {
    background: #80E545 !important;
    border-radius: 30px;
}
