body {
    background: $light-gray;
    font-family: $font-family-sans;
    font-size: $font-size-base;
    color: $ash;

    p {
        margin-top: 0;
    }

    a {
        color: $primary;
    }
}