.col-form-label,
.form-group .form-control-label {
    font-weight: 500 !important;
    color: #707070;
}

.form-group .form-control {
    border-radius: 4px !important;
}

span.input-group-text {
    border-radius: 5px !important;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    position: relative;
    font-size: 11px;
    top: -6px;
    left: 1px;
}

.bootstrap-tagsinput {
    border-radius: 5px !important;
    border-color: #e2e5ec;
    box-shadow: none;
    width: 100%;
}

.bootstrap-tagsinput .tag {
    border-radius: 15px !important;
    padding: 3px 10px;
    background: #8DA9BB;
    font-weight: 400;
    font-size: 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    border: 1px solid #fff;
    border-radius: 100px !important;
    width: 14px;
    height: 14px;
    display: inline-block;
    top: 5px;
    position: relative;
}

.badge {
    height: auto;
}

.badge-circle {
    width: 20px;
    height: 20px !important;
}

.form-group.form-group-sm .form-control {
    height: 30px;
    padding: 5px;
    font-size: 11px;
}

.form-group.form-group-sm .form-control-label {
    font-size: 12px;
}

.boxed {
    border-radius: 5px !important;
}

select.input-group-form-control:after {
    content: '\f0d7';
}

.input-group-form-control {
    width: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
}

.input-group-prepend {
    position: relative;
}

.input-group-form-control-icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}