/** CUSTOM VARIABLES **/

// Colors
$blue:                      #30a4f0;
$white:                     #FFF;
$light-gray:                #FAFAFA;
$alto:                      #D3D3D3;

$primary:                   $blue;

// Spacer
$spacer:                    15px;

// Typography
$font-size-base:            14px;
$font-size-sm:              12px;
$font-size-xs:              10px;

$font-family-sans:          'Roboto', sans-serif;

