.btn {
    box-shadow: 0 7px 9px -10px rgba(0,0,0,0.29);

    &.disabled, &:disabled {
        opacity: 0.4;
    }

    &.btn-default {
        background: #FFF;

        &.dropdown-toggle {
            border: 1px solid map-get($custom-colors, 'alto');
            box-shadow: 2px 3px 10px -8px rgba(0,0,0,1)
        }

        i {
            color: map-get($custom-colors, 'gray');
        }
    }

    &-xs {
        padding: $spacer/5 $spacer/3;
        font-weight: 500;
        font-size: $font-size-sm;
    }

    &-secondary {
        background: $white;
    }

    &-wider {
        min-width: 150px;
    }

    &-no-style {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    &-unstyled {
        border: none;
        background: transparent;
    }

    &--dashed {
        border-width: 1px;
        border-style: dashed;
        font-weight: 500;

        &-primary {
            color: map-get($custom-colors, 'blue');
            border-color: map-get($custom-colors, 'blue');
        }
    }
}

.dropdown-menu .btn-logout {
    width: calc(100% + 20px);
    background: map-get($custom-colors, 'chambray');
    color: $white;
    margin-top: $spacer;
    margin-left: -10px;
    margin-bottom: -3px;
}

.btn-fix-height {
    height: 46px;
}
