$description-max-width: 430px;

.hero {
    background-color: lighten($primary, 35%); 
    width: 100%;
    margin-left: $spacer/1.5;
    margin-right: $spacer/1.5;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    &__description {
        position: relative;
        width: 100%;
        z-index: 3;
        max-width: $description-max-width;
        padding: $spacer*5 $spacer*3;

        @media screen and (max-width: 767px){
            margin: 0 auto;
            text-align: center;
        }

        p {
            color: $primary;
            margin-bottom: 0;
            font-weight: 500;
            font-size: $font-size-xs;
        }

        h2 {
            color: map-get($custom-colors, 'san-juan');

            font-weight: 600;
            font-size: 24px;
            font-family: 'Poppins';
            line-height: 39px;
        }

        h4 {
            font-weight: 600;
            font-size: $font-size-base;
            margin-bottom: $spacer/1.5;
            font-family: 'Poppins'
        }

       
        &-action {
            margin-top: $spacer*1.5;
            color: #5570a3;
            font-weight: normal;
            font-size: $font-size-sm;
            line-height: 15px;

            button {
                padding-left: $spacer*4;
                padding-right: $spacer*4;
                margin-right: 10px;
                font-weight: 500;
                font-size: 13px;
                border: none;
                box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
            }

            span {
                display: inline-block;
                vertical-align: middle;
                line-height: 1.5;
            }
        }

        &-score {
            color: #2e4269;
            background-color: map-get($custom-colors, 'yellow');
            width: 73px;
            text-align: center;
            border-radius: 17px;
            font-size: $font-size-base*1.1;
            font-weight: 600;
            padding: 3px 0 3px 0;
            line-height: auto;
            margin-left: 3px;

            @media screen and (max-width: 767px) {
                margin: 0 auto;
            }
        }

        &-list {
            margin-top: 20px;
            font-size: $font-size-sm;
            line-height: 20px;
            color: map-get($custom-colors, 'san-juan');
            padding: 0;
            
        }

        &-list ul {
            line-height: 1.7;
            margin: $spacer 0 0;
            padding: 0;
            font-size: 12px;
            list-style: none;
        }
    }

    &__chart {
        background-image: url('/images/dashboard/banner_bg.svg');
        background-size: 942px;
        background-position: 43% 45%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        z-index: 2;
        max-width: 700px;
        width: 100%;
        margin-left: auto;

        &-description {
            text-transform: uppercase;
            font-size: 14px;
            font-family: Helvetica;
            font-weight: 700;
            text-align: center;
            color: map-get($custom-colors, 'san-juan');

            &-score {
                font-weight: bold;
                font-size: 82px;
                font-family: Helvetica;
                line-height: 80px;
                color: #33416e;
                text-align: center;
            }

            &-result {
                font-weight: 700;
                text-align: center;
                font-family: Helvetica;
                font-size: 26px;
                color: #35446d;
                margin-top: 10px;
                position: relative;
            }

            &-result i {
                position: absolute;
                top: calc(50% - 5px);
                font-size: 13px;
                vertical-align: middle;
                margin-left: 6px;
                color: #8eadc2;
            }

            &-total {
                text-align: center;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 800;
                font-family: Helvetica;
                background: #bdd4e6;
                padding: 12px 9px;
                border-radius: 6px;
                width: 80%;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 991px) {
            right: -100px;
        }

        @media screen and (max-width: 767px) {
            position: relative;
            right: 0;
            margin: auto;
            width: 100%;
            max-width: 100%;

            .hero__chart-inner {
                width: 100% !important;
            }
        }
    }
}


.hero__chart-description-score {
    // font-weight: bold;
    // font-size: 82px;
    // font-family: Helvetica;
    // line-height: 80px;
    // color: #33416e;
    // text-align: center;
}
.out_ofclass {
    background: #bed5e6;
    color: #152745;
}
.hero__chart-description-result {
    // font-weight: 700;
    // text-align: center;
    // font-family: Helvetica;
    // font-size: 26px;
    // color: #35446d;
    // margin-top: 10px;
    // position: relative;
}

.hero__chart-description-result > i {
    // position: absolute;
    // top: calc(50% - 5px);
}

.hero__chart-description {
    // text-transform: uppercase;
    // font-size: 14px;
    // font-family: Helvetica;
    // font-weight: 700;
    // text-align: center;
    // color: #2d3a59;
}
.hero__chart-description-total {
    // text-align: center;
    // font-size: 10px;
    // text-transform: uppercase;
    // font-weight: 800;
    // font-family: Helvetica;
    // background: #bdd4e6;
    // padding: 12px 9px;
    // border-radius: 6px;
    // width: 80%;
    // margin: 0 auto;
}
.hero__chart-description-result i {
    // font-size: 13px;
    // vertical-align: middle;
    // margin-left: 6px;
    // color: #8eadc2;
}