.accordion {
    &[data-status="category"] {
        .accordion-status {
            color: #8C26E6;
            border-color: #8C26E6;
            background-color: #F4E6FF;
        }

        .risk-assessment {
            border-color: #8C26E6;
        }
    }

    &[data-status="not-started"] {
        .risk-assessment {
            border-color: $primary;
        }

        .accordion-status {
            color: $primary;
            border-color: $primary;
            background-color: #d6edfc;
        }

        .accordion-status:before {
            content: 'Not Started';
        }
    }

    &[data-status="in-progress"] {
        .accordion-status {
            color: #faa853;
            border-color: #fccc98;
            background-color: #fff6ed;
        }

        .risk-assessment {
            border-color: #faa853;
        }

        .accordion-status:before {
            content: 'In Progress';
        }
    }

    &[data-status="completed"] {
        .accordion-status {
            color: #96d787;
            border-color: #aee0a3;
            background-color: #ecfbe5;
        }

        .risk-assessment {
            border-color: #83d073;
        }

        .accordion-status:before {
            content: 'Completed';
        }
    }

    &.accordion-light {
        &[data-status="not-started"] .card-title:after {
            color: $primary !important;  
        } 

        &[data-status="in-progress"] .card-title:after {
            color: #faa853 !important;  
        } 

        &[data-status="completed"] .card-title:after {
            color: #83d073 !important;  
        } 

        &[data-status="category"] .card-title:after {
            color: #8C26E6 !important;  
        } 

        &[data-status="incomplete"] .card-title:after {
            color: #FE3E53 !important;  
        } 
        
    }

    .accordion-status {
        border-radius: 17px !important;
        margin-right: 15px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 3px 15px;
        border: 1px solid map-get($custom-colors, 'blue');
    }
}


.accordion .accordion .risk-assessment {
    border-top: 1px solid #cfcfcf !important;
    border-bottom: 1px solid #cfcfcf !important;
    border-right: 1px solid #cfcfcf !important;
}

// OTHERS 

.accordion.ra-accordion.accordion-toggle-arrow .card .card-header .card-title:after {
    content: '\f11f';
    font-size: 1.5rem;
}