.sub-dropdown-link:hover .sub-dropdown {
    display: block;
}

.dropdown {
    &-menu.sub-dropdown {
        left: 99%;
        right: auto;
        top: 0;
    }

    &--dark {
        .kt-nav__item:hover > .kt-nav__link > .kt-nav__link-icon,
        .kt-nav__item:hover > .kt-nav__link > .kt-nav__link-text {
            color: #FFF !important;
        }

        .kt-nav__item:hover > .kt-nav__link > .kt-nav__link-icon-hover-green {
            color: #7EFF00 !important;
        }

        .kt-nav__item {
            & > .kt-nav__link {
                width: 95%;
                margin: 0 auto;
                border-radius: 5px;
                overflow: hidden;
            }

            &:hover > .kt-nav__link {
                background: #4e5d7b !important;
                color: #FFF !important;
            }
        }
    }

    &-menu {
        &.dropdown--dark-full,
        &.dropdown--dark-full > .dropdown-item {
            background: map-get($custom-colors, 'san-juan'); /** #2f4368; **/
            color: #FFF;
            padding: $spacer/2 $spacer*1.2 $spacer/2;
            border-radius: 10px;
        }
    }

    &-item i {
        min-width: 25px;
    }

    &.dropleft {
        .dropdown-menu.dropdown--dark-full {
            margin-right: -#{$spacer};
        }

        &-reset-arrow [data-toggle="dropdown"]:before {
            content: none !important;
        }
    }
}