.modal-body--has-bg {
    position: relative;

    &:after {
        content: '';
        width: calc(100% + #{$spacer*2.5});
        height: calc(100% + #{$spacer});
        position: absolute;
        left: -15px;
        background: #f4f4f4;
        top: 0;
        z-index: 0;
    }

    & > div {
        position: relative;
        z-index: 2;
    }
}