.kt-switch {
    input[type="checkbox"] {
        & + span + p:after {
            content: 'Off'
        }

        &:checked + span + p:after {
            content: 'On'
        }
    }

    input:empty ~ span {
        &:before {
            background-color: #c9c9c9;
        }

        &:after {
            color: darken($white, 5%);
            background-color: darken($white, 5%);
        }
    }

    input:checked ~ span {
        &:before {
            background-color: $primary;
        }

        &:after {
            background-color: $white;
            color: $white;
        }
    }

    &.kt-switch--sm {
        input:empty ~ span {

            height: 17px;
            width: 37px;

            &:after {
                $size: 13px;

                width: $size;
                height: $size;
                // color: #f5f5f5;
                // background-color: #f5f5f5;
            }

            &:before {
                width: 36px;
                // background-color: #c9c9c9;
            }
        }

        input:checked ~ span {
            &:before {
                // background-color: #30a4f0;
            }

            &:after {
                margin-left: 21px;
                // background-color: $white;
                // color: $white;
            }
        }
    }
}


// .kt-switch.kt-switch--sm input:empty ~ span:before, 
// .kt-switch.kt-switch--sm input:empty ~ span:before {
//     width: 36px;
// }

// .kt-switch.kt-switch--sm input:checked ~ span:after {
//     margin-left: 21px;
// }

// .kt-switch.kt-switch--sm input:empty ~ span {
//     width: 37px;
// }

// .kt-switch input:empty ~ span:before {
//     background-color: #c9c9c9;
// }
// .kt-switch input:empty ~ span:after {
//     color: #f5f5f5;
//     background-color: #f5f5f5;
// }
.kt-switch input:checked ~ span:before {
    background-color: #30a4f0;
}
.kt-switch input:checked ~ span:after {
    background-color: #ffffff;
    color: #ffffff;
} 