.wysiwyg {
    .note-editor {
        &.note-frame {
            border: none;
        }

        .panel-heading.note-toolbar {
            border: none;
            border-radius: 0;
        }
    }

    .note-statusbar {
        display: none;
    }
}

.accordion .editor-toolbar {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cfcfcf;
}

.accordion .CodeMirror {
    border-radius: 0;
    border: none;
}