.alert {
    &.alert-pill {
        border-radius: 22px;
    }

    &.alert-round {
        border-radius: 200px;
    }

    &.alert-sm {
        padding: $spacer/4 $spacer/1.5;
        font-size: $font-size-sm;
    }

    &.alert-semi-filled-primary {
        background: rgba(56, 165, 237, 0.1);
    }
}