.pagination {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1379px) {
        flex-direction: column;
    }

    .btn-secondary {
        border: 1px solid map-get($custom-colors, 'alto');
    }

    .btn-group button {
        padding: 11px 9px;
        min-height: 45px;
    }

    &__items,
    &__stats {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;   
    }

    &__stats {
        margin-left: auto;

        @media screen and (max-width: 1379px) {
            margin-top: $spacer;
            margin-left: 0;
        }

        @media screen and (max-width: 767px) {
            margin-left: 0 !important;
        }

        &-usage {
            padding: $spacer/3 $spacer;
            border-radius: 100px;

            .actual {
                color: map-get($custom-colors, 'blue');
            }
        }
    }

    &__items > * {
        // margin-bottom: $spacer;
    }
}