.table {
    &.table-striped tbody tr:nth-of-type(odd) {
        background: #f4fbff;    
    }

    td {
        border: none;
        font-size: 13px;
        color: map-get($custom-colors, 'ash');
        padding: $spacer;

        &.ellipsed {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    thead {
        color: map-get($custom-colors, 'ash');

        tr th {
            font-size: 13px;
            font-weight: 500;

            // border-bottom: 1px solid map-get($custom-colors, 'silver');
        }

        &.bordered th {
            border-bottom: 1px solid map-get($custom-colors, 'silver');
        }
        
    }

    tbody tr:first-child {
        border-top: 1px solid map-get($custom-colors, 'silver');
    }

    .table-icon[aria-expanded="true"] > i {
        color: map-get($custom-colors, 'blue');
    }
}