
body {
    background: #fafafa;
}

/*** Header Section ***/
.kt-header__brand  {    
    margin-left: 29px;
}
.kt-header__topbar-item--user {
  border-right: 1px solid #e3e3e3;      
  border-left: 1px solid #e3e3e3; 
  padding:0 10px;
}
a.grad_bt {
    background-color: #ebf6fd;
    border: 1px solid #7fc4f4;
    color: #44a4ee;
    text-align: center;
    border-radius: 6px;
    padding: 4px 10px;
    line-height: 10px;
    font-size: 12px;
}
a.grad_bt:hover {
    background-color: #83c3f5;
    color: #fff;
}
.kt-subheader .kt-subheader__main .btn:not(.dropdown-toggle-split) {
    margin-right: 1em;
    font-size: 13px;
    font-weight: normal;
    line-height: 45px;
    font-size: 13px;
    letter-spacing: 0.5;
}
.fc-unthemed .fc-day-grid td:not(.fc-axis).fc-event-container {
    padding: 0 0.5rem;
}
.dopti {
    border: 1px solid #d3d3d3;
    color: #707070;
    font-size: 13px;
    letter-spacing: 0.5;
    -webkit-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
}
.dashboard_bt button {
    padding-left: 4rem;
    padding-right: 4rem;
}
text {
    font-weight: bold;
}
#rlc-container text {
    font-weight: 600;
}
.main_gauge {
    background-image: url(../media/dashboard/banner_score2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.total_score {
    font-weight: bold;
    font-size: 82px;
    font-family: Helvetica;
    line-height: 80px;
    color: #33416e;
    text-align: center;
}
.out_ofclass {
    background: #bed5e6;
    color: #152745;
}
.result_f {
    font-weight: 700;
    text-align: center;
    font-family: Helvetica;
    font-size: 26px;
    color: #35446d;
    margin-top: 10px;
}
.cs_class {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 700;
    text-align: center;
    color: #2d3a59;
}
.ofone {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Helvetica;
    background: #bdd4e6;
    padding: 12px 9px;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
}
.result_f i {
    font-size: 13px;
    vertical-align: middle;
    margin-left: 6px;
    color: #8eadc2;
}
/** BODY **/
.kt-portlet__head-title i {
    color: #c3c3c3;
    font-size: 13px;
}
.ban_bt button {
    padding-left: 4rem;
    padding-right: 4rem;v
}
.btn-custom-blue {
    background-color: #30a4f0;
    color: #fff;
}
.btn-custom-blue:hover {
    background-color: #0f86e0;
    color: #fff;
}
.second_section {
    margin:20px 20px 0 20px;
}
.main_banner {
    background-color: #dfedf7; 
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.main_banner ul {
    padding:0;
    list-style: none;
}
.ban_text {
    max-width: 85%;
    margin: 52px auto;
}
.ban_text p {
    color: #44a4ee;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 11px;
}
.ban_text .score_hldr { 
    color: #2e4269; 
    background-color: #fce04a;
    width: 80px;
    text-align: center;
    border-radius: 17px;
    font-size: 19px;
    font-weight: 600;
    padding: 3px 0 0px 0;
    line-height: 31px;
    margin-left: 3px;
}
.ban_text h2 {
    color: #2e4269;
    font-weight:600;
    font-size: 24px;
    line-height: 39px;
}
.ban_text .top_list {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #2e4269;
}
.ban_text .top_list h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 11px;
}
.ban_text .top_list ul li strong {
    font-weight: 600;
}
.ban_text .ban_bt {
    margin-top: 20px;
    color: #5570a3;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.ban_text .ban_bt strong {
    font-weight: 600;
}     
.ban_text .ban_bt button {
    margin-right: 10px;
    font-weight: 600;
    font-size: 13px;
    border: none;
    -webkit-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
}
.ban_text .ban_bt span {
    display: inline-block;
    vertical-align: middle;
}
.kt-badge.kt-badge--red {
    background: #e65655; 
}
.kt-badge.kt-badge--yellow {
    background: #fce04a; 
}
.image_dashboard {
    width: 100%;
}
.bt-color-gray {
    background-color: #f5f5f5;
}
.kt-switch.kt-switch--sm input:empty ~ span {
    width: 50px;
    height: 21px;
}
.kt-switch.kt-switch--sm input:empty ~ span:before, .kt-switch.kt-switch--sm input:empty ~ span:before {
    width: 48px;
}
.kt-switch.kt-switch--sm input:empty ~ span:after {
    height: 19px;
    width: 19px;
    line-height: 16px;
    top: 1px;
    bottom: 1px;
    margin-left: 1px;
}
.kt-switch.kt-switch--sm input:checked ~ span:after {
    margin-left: 28px;
}

.kt-switch input:empty ~ span:before {
    background-color: #c9c9c9;
}
.kt-switch input:empty ~ span:after {
    color: #f5f5f5;
    background-color: #f5f5f5;
}
.kt-switch input:checked ~ span:before {
    background-color: #30a4f0;
}
.kt-switch input:checked ~ span:after {
    background-color: #ffffff;
    color: #ffffff;
}

/** Progress bar Section **/
.kt_col_n0padding div.col {
    padding:0;
}
.kt_col_n0padding div.col .kt-widget15__item .progress {
    height: 34px;
    border-radius: 0;
}
.pbar_hldr .progress-bar {
    border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    height: 40px;
    border-radius: 0;
}
.sm_switched .kt-switch label {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
    padding-top:0;
}
.kt-badge.kt-badge--dot {
    line-height: 10px;
    min-height: 10px;
    min-width: 10px;
    height: 10px;
    width: 10px;
}
.progress.progress-lg {
    height: 40px;
}
.bd_text {
    text-transform: uppercase;
}
.bd_text h2 {
    font-weight: 600;
    color: #676767;
}
.bd_text h2 span {
    font-size: 12px;
}
.bd_text p {
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #989898;
}
.custom_green {
    background: #81d16f;
}
.custom_yellow {
    background: #fce04a;
}
.custom_red {
    background: #e65655;
}
/** Third Section **/
.third_section {
    margin-left: 20px;
    margin-right: 20px;
}
.gauge_body {
    max-width: 100%;
    width: 353px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
#hdc-container {
    position: relative;
    margin-top: -90px;
    z-index: 1;
}
.gauge_info {
    margin-top: -90px;
    position: relative;
    z-index: 3;
}
.gauge_body h2 {
    z-index: 2;
    position: relative;
}
.kt-portlet__head {
    z-index: 99;
    position: relative;
}

/** CALENDAR **/
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: none;
}
#new_cald .fc-widget-content, 
#new_cald .fc-widget-header {
    border: none !important;
}
tr:first-child > td > .fc-day-grid-event {
    box-shadow: unset;
}
.fc-unthemed .fc-day-grid td:not(.fc-axis) {
    text-align: center;
}
.fc-unthemed .fc-event.fc-start .fc-content:before, .fc-unthemed .fc-event-dot.fc-start .fc-content:before {
    background: #e2e5ec;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}
.raphael-group-115-item > path[stroke-width="2"] {
    display: none !important;
}
.fc-unthemed .fc-event .fc-content {
    text-align: center;
    padding: 0;
}
.fc-unthemed .fc-event .fc-title,
.raphael-group-192-creditgroup,
.raphael-group-311-creditgroup {
    visibility: hidden;
    display: none;
}
.fc-unthemed .fc-toolbar .fc-button {
    border: none;
}


.rsum h2 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 2.6em;
    color: #676767;
}
.raphael-group-312-creditgroup,
.raphael-group-201-creditgroup,
.raphael-group-34-creditgroup {
    display:none !important;
}
.raphael-group-127-legendGroup > rect {
    display: none !important;
    margin-top: 10px;
}
/** Fourth Section **/
.fourth_section {
    margin-left: 20px;
    margin-right: 20px;
}
.fc-scroller{
    height: auto !important;
}
.raphael-group-29-creditgroup, 
.raphael-group-107-creditgroup,
.raphael-group-320-creditgroup {
    display: none;
}
.os_section {
    font-size:15px ;
    color: #595959;
    line-height: 26px;
}
.os_section p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
}
.os_section ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin-bottom:10px;
}
.os_section ul li {
    padding-top: 3px;
    font-size: 13px;
    font-weight: 400;
}
.os_section i {
    color: #65b0e7;
    font-size: 16px;
}
.jstree-default .jstree-anchor {
    color: #47484a;
    padding: 0 8px 0 4px;
    font-size: 13px;
}
.oblue {
    color: #65b0e7 !important;
}
.os_section i.red {
    color: #e05555;
}
.os_section span.num {
    background-color: #65b0e7;
    color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    line-height: 21px;
}
.notice li {
    margin-bottom: 8px;
}
.notice li i.yellow {
    color: #e8db38;
}
.fc-unthemed .fc-toolbar .fc-button {
    padding: 10px;
}

/** Fifth Section **/
.fifth_section {
    margin-left: 20px;
    margin-right: 20px;
}
.ltable .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f1faff;
}
.ltable table tr th,
.ltable table tr td {
    color: #989898;
    font-size: 14px;
}
.ltable table tbody tr td i {
    color: #989898;
    font-size: 12px;
    line-height: 25px;
}
/** Modal **/
.md_pop th {
    font-weight: normal;
}
.md_pop th i {
    font-size: 7px;
    vertical-align: middle;
}
.red_icon {
    color: #db5353;
}
.yellow_icon {
    color: #f9e053;
}



/** Dashboard2 **/
.second_section_dashboard_2 {
    margin:20px 0;
}
.d2_bt {
    margin-bottom: 10px;
}
.kt_foot_hldr {
    border-top: 1px solid #ebedf2;
}
.kt_foot_hldr .kt-widget15__items {
    padding:0 25px;
}
span.small_pt {
    font-size:10px;
}

/** Risk Assesment **/
.border_red {
    border: 1px solid red;
}
.bgwhite {
    background-color: #fff;
    padding: 10px 20px;
    margin: 10px 20px;
}
.nopadding {
    padding: 0;
}
.control_progress_bar {

}
.margin_right {
    margin-right: 10px;
}
.accordion.accordion-light .risk_accord {
    margin-bottom: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 1px 0px 14px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 14px -11px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 14px -11px rgba(0,0,0,0.75);
    
    border-left: 8px solid #30a4f0;
}


.accordion.accordion-light .risk_accord .card-header {
    padding: 0 15px;
    
}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed span {
    color: #30a4f0;
    border: 1px solid #30a4f0;
    background-color: #d6edfc;
}
.accordion.accordion-toggle-arrow .card .card-header .card-title span {
    color: #fca949;
    border: 1px solid #fca949;
    padding: 3px 15px;
    background-color: #fff6ec;
    border-radius: 17px !important;
    margin-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed,
.accordion.accordion-toggle-arrow .card .card-header .card-title {
    color: #2e4269;
}

.accordion.accordion-light .risk_accord .card-body {
    padding: 15px;
}
.accordion.accordion-light .risk_accord:has(div.collapsed) {
    border-left: 4px solid #fca949;
}
.task-details textarea {
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-top: -1px;
    padding: 15px;
    resize: none;
}

.task-details textarea:active,
.task-details textarea:focus {
    outline: 0;
}
@media (min-width: 1025px) {
    .kt-subheader {
        margin-top: 0;
        padding: 8px 20px 5px !important;
    }
}

/**
**  Risk Assessment
**/

.rs-image {
    /* max-height: 50px; */
    width: auto;
}

.rs-hazards img {
    max-width: 75px;
    margin: 10px 10px 15px 0;
}

.rs-progress-high-risk {
    background: #FF0000;
}

.rs-progress-low-risk {
    background: #5bbc30;
}


.accordion .card.inner-accordion-card .card-header {
    padding: 10px 15px;
    border: 1px solid #cfcfcf;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}

.risk_accord .collapse.show {
    border-top: 1px solid #cfcfcf;
}

.rs-actions {
    position: fixed;
    height: auto !important;
}

.rs-actions .tag {
    font-size: 9px;
    margin-top: 15px;
}

.rs-actions .tag .badge {
    padding: 1px 0 0 0;
    width: 18px;
    line-height: 17px;
    max-width: 100px;
    margin-left: 0 !important;
}

.rs-actions .tag-label {
    font-size: 12px;
    color: #2f4368;
}

.rs-actions-danger {
    color: #FF0000;
}

.rs-actions-overdue {
    color: #faa853;
}
.rs-actions-advisory {
    color: #ecc82d;
}

.rs-actions .badge.danger {
    background: #FF0000;
}
.rs-actions .badge.overdue {
    background: #faa853;
}
.rs-actions .badge.advisory {
    background: #ecc82d;
}

/**
**  Grid extensions
**/

.m-grid-padded {
    padding-left: 10px;
    padding-right: 10px;
}

/**
** Portlet extensions
**/
.kt-portlet-spacer {
    padding: 25px;
}

/**
**  Form extensions
**/

.col-form-label {
    font-weight: 500;
    color: #707070;
}

.form-group .form-control {
    border-radius: 4px !important;
}

.input-group-text {
    border-radius: 5px;
}

.bootstrap-tagsinput {
    border-radius: 5px !important;
    border-color: #e2e5ec;
    box-shadow: none;
    width: 100%;
}

.bootstrap-tagsinput .tag {
    border-radius: 15px !important;
    padding: 7px 10px;
    background: #8DA9BB;
    font-weight: 400;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    border: 1px solid #fff;
    border-radius: 100px !important;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.badge {
    height: auto;
}
/**
**  Font Styles
**/

.font-weight-normal {
    font-weight: normal;
}

.font-weight-500 {
    font-weight: 500;
}

/**
** Header styles
**/
@media screen and (min-width: 1025px) {
    .kt-header {
        box-shadow: 13px 7px 19px 0px rgba(0, 51, 90, 0.1);
    }
}


/**
**  Text color
*/

.font-red {
    color: #FF0000
}

.font-rhino {
    color: #2f4368;
}

.font-ash {
    color: #707070;
}

.font-nepal {
    color: #8DA9BB;
}

.bg-light-gray {
    background: #f7f7f7;
}

.bg-red {
    background: #FF0000;
}

.bg-white {
    background: #FFF;
}

.bg-light-blue {
    background: #e4f0f8;
}

/** Substance Accordion **/
.si_section {
    border: 1px solid #ebedf2;
    margin: 10px;
    padding: 10px 0;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
}
.table_si tr td {
    border-top: 0 !important;
    padding: 13px 10px !important;
}
.table_si tr:nth-child(even) {
    background-color: #f4fbff;
}
.table_si tr td a {
    color: #30a4f0;
}
.haz {
    background-color: #e2e2e2;
    padding: 15px !important;
    text-align: center;
}