.substances {
    &-header {
        background: map-get($custom-colors, 'blue');
        color: #FFF;
        position: relative;
    
        & > div {
            display: flex;
            align-items: center;
        }

        &__search-block {
            display: flex;
            align-items: center;

            input[type="text"] {
                background: transparent;
                padding: $spacer/2;
                font-size: 1.4rem;
                color: #FFF;
                border: none;
                width: 100%;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom-color: darken(#FFF, 20%);
                }

                &:focus,
                &:active {
                    border-bottom-color: #FFF;
                    outline: 0;
                }

                &::placeholder {
                    color: #FFF;
                    opacity: 1; /* Firefox */
                  }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: #FFF;
                  }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                   color: #FFF;
                  }
            }

            button {
                background: none;
                border: none;
                font-size: 2.5rem;
                color: #FFF;
            }
        }
        
        &__search {
            position: relative;
            margin-left: auto;
            i {
                position: absolute;
                color: #FFF;
                font-size: 2rem;
                pointer-events: none;
            }
    
            input[type="text"] {
                color: #FFF;
                border: none;
                background: transparent;
                border-bottom: 1px solid transparent;
                height: 32px;
                padding-left: 30px;
                width: 32px;
                transition: all 0.3s ease-in;
                font-size: 16px;
    
                &:hover,
                &:focus,
                &:active {
                    width: 200px;
                    border-bottom-color: #FFF;
                    outline: 0;
                }
            }
        }
    }

    &-aside {
        max-width: 320px;
        min-width: 320px;
        background: map-get($custom-colors, 'light-blue');
        // background: lighten(map-get($custom-colors, 'blue'), 50%);
    
        &__checkboxes {
            display: flex;
            flex-direction: column;
    
            @media screen and (max-width: 767px) and (min-width: 480px) {
                flex-direction: row;
                flex-wrap: wrap;
    
                .kt-checkbox-inline {
                    max-width: 50%;
                    width: 50%;
                    padding-right: $spacer*2;
                }
            }
        }
    
        @media screen and (max-width: 992px) {
            min-width: 300px;
            max-width: 300px;
        }
    
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }

    &-result {
        width: 100%;
        padding: $spacer*1.5;
    }

    &-container {
        display: flex;
        width: 100%;
        flex-direction: row;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}