.form-separator {
    border-bottom: 1px solid #cdcdcd;
    /* padding: 30px; */
    width: 100%;
}

.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line a.nav-link:hover, .nav-tabs.nav-tabs-line a.nav-link.active {
    border-bottom: 4px solid #30a4f0;
}