body {
    background: map-get($custom-colors, 'light-gray');
    font-family: $font-family-sans;
    font-size: $font-size-base;
    color: map-get($custom-colors, 'ash');

    p {
        margin-top: 0;
    }

    a {
        color: $primary;
    }
}